.jumbotron {
    /* position: relative;
    background: url(../images/skyline.jpg);
    background-position: 0% 25%;
    width: 100%;
    height: 100%;
    background-size: cover;
    overflow: hidden;
    border-radius: 0 !Important; */
    background: aqua;
    height: 45vh;
    margin-bottom: 0;
}