@import "variables.css";
@import "reset.css";
@import "detail.css";
@import "mainSection.css";
@import "navbar.css";
@import "buttons.css";
@import "card.css";



picture{
    width: 100%;
}

.img-fluid{
    width: 100%;
}

.hidden {
    display: none !important;
  }

  .max-length-etc{
    white-space: nowrap; 
    width: 50px; 
    overflow: hidden;
    text-overflow: ellipsis; 
  }

/* COLORS */
.bg-color-primary{
    background-color: var(--main-color);
}


 
